

<div class="container bg1">
<br>

<div class="delete-flex">

<div>
<a href="/dashboard" class="back" >&larr; Back </a>
</div>

<div class="delete">
<form action="/delete-post/<%= data._id %>?_method=Delete" method="POST">
   <input type="submit" value="Delete" class="delete-btn"> 
</form>
</div>

</div>


<form action="/edit-post/<%= data._id %>?_method=PUT" class="bg2" method="POST" enctype="multipart/form-data">


    <div class="bg3">
        <h2 class="add-post">Edit Post</h2>
    </div>

<!-- image -->

<div class="upload bg4">

    <div class="bg5">

<label for="image"><b>Upload Image: </b></label>
<input type="file" placeholder="Title" class="box" name="image" value="<%= data.image %>">


<label for="title"><b>Title:</b></label>
<input type="text" class="box" placeholder="Enter Title" name="title" value="<%= data.title %>">

<label for="price"><b>Price:</b></label>
<input type="number" class="box"  placeholder="Enter price" name="price" value="<%= data.price %>">

<label for="college"><b>Institute: </b></label>
<input type="text"  class="box"   name="college" value="<%= data.college %>">

<label for="number"><b>Number:</b></label>
<input type="text" class="box" placeholder="Enter Phone Number" name="number" value="<%= data.number %>">

<label for="upiId"><b>UPI_ID:</b></label>
<input type="text" class="box" placeholder="Enter upi_id" name="upiId" value="<%= data.upiId %>">

</div>

<div>

<div class="bg6">

<label for="description"><b>description:</b></label>
<textarea  name="description" class="box" cols="50" rows="10" > <%= data.description %></textarea>

</div>

<div class="post">

<input type="submit" value="Update" class="search-button">

</div>

</div>

</form>

</div>